body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: lightblue;
  margin: 0;
  padding: 30px;
  padding-right: 0px;
  width: 20%;
}

.posts {
  overflow: auto;
}

.post {
  display: flex;
}

.post-content {
  margin-top: 8px;
}

.avatar {
  margin: 25px;
  border-radius: 5px;
  width: 80px;
  height: 80px;
}

.main {
  background-color: lightcyan;
  margin: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: beige;
  height: 100px;
  margin: 0;
}

.message {
  width: calc(100% - 80px);
  height: 2em;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 10px;
  margin: 25px;
}

li {
  list-style: none;
  cursor: pointer;
}